.App {
  color: snow;
}

.back-color {
  height: 100vh;
  width: 100%;
  z-index: -3;
  background: black;
  position: fixed;
}

.backdrop-new {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: -1;
}

.backdrop-current {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  opacity: 0.33;
  position: fixed;
  background-position: center top;
  background-size: cover;
  /* This doesn't work. Not part of the spec. Must do with JS. */
  -moz-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}
